.idea/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
cmake-build-debug/CMakeFiles/
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/Client
cmake-build-debug/Editor
cmake-build-debug/Server
cmake-build-debug/SoundTest
cmake-build-debug/Test
cmake-build-debug/Makefile
cmake-build-debug/*.cbp
*.o
*.zip
valgrind.out
make.sh
tp.dSYM
client-server/client
client-server/server
*.DS_Store
*.glade~
src/editor/*.yaml